header
    background: url("../img/head_bg.jpg") center center no-repeat
    background-attachment: fixed
    background-size: cover
    height: 100vh
    display: flex
    align-items: center
.nav
    display: flex
    justify-content: space-between
    align-items: center
    font-family: opsans-condlight, sans-serif
    font-size: 20px
    line-height: 20px
    text-transform: uppercase
    margin-bottom: 120px
    a
        color: $col_wh
        text-decoration: none
        letter-spacing: 1px
        &:hover,
        &:focus
            color: $col_gr
.logo
    margin-bottom: 120px
    img
        width: 100%
        height: auto
.head_desc
    text-align: center
    h1
        font-family: opsans-condlight, sans-serif 
        font-size: 28px
        line-height: 40px
        font-weight: 400
        color: $col_wh
        letter-spacing: 1px
